@import url(./base.css);

.section_1 {
  margin-top: 50px;
}

.section_1 span {
  margin-bottom: 10px;
}

.section_2 {
  margin-top: 80px;
}

.section_2 h2 {
  font-family: "Kallisto Medium", sans-serif;
  font-weight: 600;
  font-size: 54px;
}

.section_2 .card {
  border: none;
}

.section_2 .img_group {
  transition: transform 0.1s ease;
  transform: translateY(0px);
}

.section_2 .img_group:hover {
  transform: translateY(10px);
}

@media only screen and (max-width: 1024px) {
  .section_1 {
    max-width: 1024px;
    padding: 0px 14px;
  }

  .section_1 span {
    padding: 0;
  }

  .section_2 {
    max-width: 1024px;
  }
}

@media only screen and (max-width: 768px) {
  .section_2 h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .section_2 .card_container {
    max-width: 50%;
  }
}
